@use "../utilities" as *;

/**
  Buttons CSS
*/
/*
.vw-btn-primary {
  border-radius: 5px;
  background-color: #f1d2a9;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--vw-color-theme-primary); 
  padding:25px 40px;
  min-width:210px;
  height:60px;
  &:hover {
    background-color: #c5a377;
    color: var(--vw-color-theme-primary);
  }
} */
.vw-btn-secondery {
  background-color: #0b3d2c;
  color:#ffffff;
}
.vw-btn-primary {
  background-color: transparent;
  border: 1px solid #448C74;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--vw-color-common-white);
  padding: 10px 15px;
  gap: 8px;
  border-radius: 60px;
  &:hover {
    border-color: var(--vw-color-common-white);
    color: var(--vw-color-common-white);
    i {
      color:var(--vw-color-common-white);
    }
  }
  i {
    background-color: #448C74;
    width:25px;
    height:25px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
  }
}
.vw-btn-green {
  background-color: var(--vw-color-theme-primary);
  color:var(--vw-color-common-white);
}