@use "../utilities" as *;

/**----------------------------------------
About Section CSS
----------------------------------------*/
.about-area {
    background-image: url(../images/about/about-bg.jpeg);
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 145px;
    &::before {
        background-color: var(--vw-color-bg-1);
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content:"";
        opacity: .95;
    }
    .container, .container-fluid {
        position: relative;
        z-index: 2;
    }
    @media #{$xl, $lg, $md, $sm, $xs} {
        padding-top: 95px;
    }
    @media #{$sm, $xs} {
        padding-top: 100px;
        .container, .container-fluid {
            max-width: inherit;
        }
    }
}
.about-vertical-heading {
    font-size: 85px;
    font-weight: var(--vw-fw-medium);
    letter-spacing: .18em;
    z-index: 1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 2;
    position: absolute;
    top:0;
    margin-top:auto;
    margin-bottom: auto;
    left: 20px;
    transform: rotate(180deg);
    color:#BBBBBB;
    span {
        -webkit-text-stroke: 1px #BBBBBB;
        -webkit-text-fill-color: transparent;
    }
    @media #{$xl} {
        font-size: 56px;
        top: 10px;
        left: 0;
    }
    @media #{$lg, $md, $sm, $xs} {
        font-size: 56px;
        position: absolute;
        top: 20px;
        left: 10px;
        display: none;
    }
}
.section-title-about {
    .section-heading {
        font-size: 32px;
        line-height: 1.3;
    }
}
.about-titles {
    position: relative;
    .about-subtitle {
        font-size: 12px;
        font-weight: var(--vw-fw-regular);
        letter-spacing: 0.15px;
        text-transform: uppercase;
        margin-bottom: 15px;
        img {
            display: block;
            margin-top: 15px;
        }
    }
    .about-title {
        font-size: 40px;
        text-transform: uppercase;
        line-height: 50px;
        span {
            font-weight: var(--vw-fw-light);
        }
    }
    .shadow-title {
        font-family: var(--vw-ff-heading);
        font-weight: 700;
        font-size: 128px;
        text-transform: uppercase;
        color: #BBBBBB;
        opacity: 0.05;
        position: absolute;
        top: 35px;
        left: 0;
    }
    @media #{$xl} {
        .shadow-title {
            font-size: 100px;
            top:45px
        }
        
    }
    @media #{$lg} {
        .about-title {
            font-size: 36px;
        }
        .shadow-title {
            font-size: 80px;
            top: 12px;
        }
    }
    @media #{$xs} {
        .about-subtitle {
            img {
                margin: 15px auto;
            }
        }
        .shadow-title {
            display: none;
        }
    }
}
.about-top-border-bottom {
    border-top: 1px solid rgba(68, 140, 116, 0.25);
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    opacity: 1;
    &::before {
        background-color: #ffffff;
        width:350px;
        height:1px;
        position: absolute;
        left: 0;
        top:-1px;
        content: "";
        z-index: 2;
    }
}
.about-top-wrap {
    padding-left: 230px;
    margin-bottom: 15px;
    @media #{$xxl} {
        padding-left: 129px;
    }
    @media #{$xl} {
        padding-left: 95px;
    }
    @media #{$lg, $md, $sm, $xs} {
        padding-left: 15px;
    }
}
.about-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 230px;
    .container-fluid {
        padding: 0;
    }
    .section-title {
        width:43%;
        .about-vertical-line {
            position: absolute;
            bottom: -5px;
            right: 0;
        }
    }
    @media #{$lg, $md, $sm, $xs} {
        padding-right: 15px;
    }
    @media #{$md} {
        .section-title {
            width:50%;
        }
    }
    @media #{$xs} {
        .section-title {
            width:100%;
            text-align: left;
        }
        .section-subtitle {
            span {
                img {
                    margin: 15px auto;
                }
            }
        }
    }
}
.years-of-experiences {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: end;
    flex-wrap: wrap;
    width: 57%;
    justify-content: right;
    .experience-number {
        position: relative;
        span {
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            font-family: var(--vw-ff-heading);
            font-weight: 900;
            font-size: 200px;
            line-height: 1;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .experience-title {
        width:48%;
        text-align: right;
        h3 {
            line-height: 1;
            span {
                display: block;
                font-size: 100px;
                font-weight: var(--vw-fw-black);
                letter-spacing: 1px;
                -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
                -webkit-text-fill-color: transparent;
            }
            font-size: 55px;
            text-transform: uppercase;
        }
    }
    @media #{$xl} {
        .experience-number {
            span {
                font-size: 150px;
            }
        }
        .experience-title {
            h3 {
                font-size: 40px;
                span {
                    font-size: 60px;
                }
            }
        }
    }
    @media #{$lg} {
        .experience-number {
            margin-right: 20px;
            span {
                font-size: 150px;
            }
        }
        .experience-title {
            h3 {
                font-size: 36px;
                span {
                    font-size: 70px;
                }
            }
        }
    }
    @media #{$md} {
        width:50%;
        .experience-title {
            h3 {
                font-size: 30px;
                span {
                    font-size: 42px;
                }
            }
        }
    }
    @media #{$md, $sm, $xs} {
        .experience-number {
            span {
                font-size: 100px;
                line-height: 1.3;
            }
        }
    }
    @media #{$sm, $xs} {
        .experience-title {
            h3 {
                font-size: 36px;
                span {
                    font-size: 48px;
                }
            }
        }
    }
    @media #{$xs} {
        width: 100%;
        justify-content: left;
        .experience-title {
            text-align: left;
        }
    }
}

.about-bottom {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
    @media #{$md, $sm, $xs} {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        row-gap: 50px;
        flex-direction: column-reverse;
    }
}
.about-text-block {
    width: 60%;
    padding-left: 215px;
    padding-top: 70px;
    h4 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    @media #{$xxl} {
        padding-left: 124px;
    }
    @media #{$xl, $lg, $md, $sm, $xs} {
        padding-left: 80px;
        br {
            display: none;
        }
    }
    @media #{$xl, $lg} {
        width:50%;
    }
    @media #{$lg, $md, $xs} {
        padding-left: 15px;
    }
    @media #{$md, $xs} {
        width:100%;
        padding-top: 0;
        h4 {
            font-size: 24px;
            margin-bottom: 20px;
            line-height: 1.3;
        }
    }
    @media #{$sm, $xs} {
        width:100%;
        padding-left: 0;
    }
}
.team-horizontal {
    display: flex;
    align-items: center;
    margin-top: 45px;
    .team-hori-thumb {
        margin-right: 25px;
        img {
            width:110px;
            height:110px;
            border:1px solid #448C74;
            border-radius: 100%;
            padding: 8px;
        }
    }
}
.about-img-right {
    position: relative;
    width: 40%;
    img {
        border: 1px solid rgba(68, 140, 116, 0.40);
        border-right: 0;
        padding: 15px 0 15px 15px;
        width: 100%;
    }
    .about-round-shape-wrap {
        border: 1px solid rgba(68, 140, 116, .35);
        position: absolute;
        left: -90px;
        bottom: -70px;
        width: 280px;
        height: 280px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-round-shape {
        background-color: #131313;
        width: 192px;
        height: 192px;
        border-radius: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        outline: 26px solid #131313;
        &::after {
            border: 1px dashed rgba(68, 140, 116, 0.3);
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height:100%;
            content:"";
            border-radius: 100%;
        }
    }
    .icon-arrow-tera {
        font-size: 68px;
        color: #448C74;
    }
    @media #{$xl, $lg} {
        .about-round-shape-wrap {
            width:250px;
            height:250px;
        }
        .about-round-shape {
            width: 150px;
            height: 150px;
            outline: 32px solid #131313;
        }
    }
    @media #{$xxl, $xl, $lg} {
        width:50%;
        padding: 10px 0 10px 10px;
    }
    @media #{$md, $sm, $xs} {
        .about-round-shape-wrap {
            display: none;
        }
    }
    @media #{$md, $sm, $xs} {
        width:100%;
        border: 0;
        padding:0;
        img {
            width:100%;
            border: 0;
            padding: 0;
        }
    }
    @media #{$sm, $xs} {
        width:100%;
        border: 0;
        padding:0;
    }
}

/**----------------------------------------
Home About 2 CSS
----------------------------------------*/
.section-title-about-2 {
    .section-heading {
        position: relative;
        padding-bottom: 30px;
        &::before {
            background-color: #448C7440;
            width:100%;
            height:1px;
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
        }
        &::after {
            background-color: #448C74;
            width:145px;
            height:1px;
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
        }
    }
    .section-title-text {
        padding-left: 45px;
        padding-top: 20px;
        .secondery-heading {
            font-size: 28px;
            span {
                font-weight: 200;
            }
        }
        p {
            padding-left: 60px;
            padding-top: 15px;
        }
    }
}
.about-area-2 {
    background: #000004;
    padding-top: 52px;
    &::before {
        display: none;
    }
}
.horizontal-space-text-heading {
    text-align: right;
    .horizontal-space-title {
        font-size: 85px;
        font-weight: 500;
        text-transform: uppercase;
        color:#BBBBBB66;
        letter-spacing: .55em;
        span {
            -webkit-text-stroke: 1px #BBBBBB4D;
            -webkit-text-fill-color: transparent;
        }
    }
    @media #{$xxl, $xl, $lg} {
        .horizontal-space-title {
            font-size: 54px;
        }
    }
    @media #{$sm, $xs} {
        text-align: center;
        .horizontal-space-title {
            font-size: 54px;
            letter-spacing: .20em;
        }
    }
}
.about-bottom-2 {
    margin-top: 100px;
    justify-content: unset;
    flex-wrap: wrap;
}
.about-left-block {
    width:43%;
    flex: 0 0 43%;
}
.about-text-block-2 {
    width:57%;
    flex: 0 0 57%;
    padding-left: 220px;
    @media #{$xxl} {
        padding-left: 150px;
    }
    @media #{$xl} {
        padding-left: 100px;
    }
    @media #{$lg} {
        padding-left: 40px;
    }
}

@media #{$lg} {
    .about-left-block {
        width:40%;
        flex: 0 0 40%;
    }
    .about-text-block-2 {
        width:50%;
        flex: 0 0 50%;
    }
}
@media #{$md, $sm, $xs} {
    .about-left-block {
        width:100%;
        flex: 0 0 100%;
    }
    .about-text-block-2 {
        width:100%;
        flex: 0 0 100%;
    }
}
@media #{$md, $sm, $xs} {
    .about-text-block-2 {
        padding-left: 0;
    }
    .section-title-about-2 .section-title-text {
        padding-left: 0;
        p {
            padding-left: 0;
        }
    }
}
.about-balloon-img {
    position: relative;
    &::before {
        background-image: url(../images/about/balloon-border.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 48px;
        left: 24px;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -1;
    }
    img {
        border-radius: 50% 50% 0%;
    }
    @media #{$md, $sm, $xs} {
        margin-bottom: 100px;
    }
}
.achievement-equations {
    display: flex;
}
.big-heading-area {
    padding-left: 90px;
    padding-right: 90px;
    background-color: #000004;
    padding-top: 150px;
    @media #{$md, $sm, $xs} {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.big-heading-list {
    display: flex;
    flex-wrap: wrap;
    .big-heading-stroke {
        &:nth-child(2) {
            margin-left: 230px;
        }
        &:nth-child(3) {
            display: flex;
            justify-content: end;
            width: 100%;
        }
    }
    @media #{$xl} {
        .big-heading-list {
            column-gap: 10px;
        }
        .big-heading-stroke {
            &:nth-child(2) {
                margin-left: 119px;
            }
        }
    }
    @media #{$lg} {
        .big-heading-list {
            column-gap: 10px;
        }
        .big-heading-stroke {
            &:nth-child(2) {
                margin-left: 70px;
            }
        }
    }
    @media #{$md} {
        .big-heading-list {
            column-gap: 10px;
        }
        .big-heading-stroke {
            &:nth-child(2) {
                margin-left: 100px;
            }
        }
    }
    @media #{$sm} {
        .big-heading-list {
            column-gap: 10px;
        }
        .big-heading-stroke {
            &:nth-child(2) {
                margin-left: 50px;
            }
            &:nth-child(3) {
                margin-left: 100px;
                justify-content: unset;
            }
        }
    }
    @media #{$xs} {
        .big-heading-stroke {
            &:nth-child(2) {
                margin-left: 0;
            }
            &:nth-child(3) {
                justify-content: unset;
            }
        }
    }
}
.big-heading-stroke {
    font-size: 156px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    .stroke-heading {
        -webkit-text-stroke: 1px #BBBBBB4D;
        -webkit-text-fill-color: transparent;
    }
    .thin-heading {
        font-weight: 200;
    }
    img {
        &::after {
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(2.5px);
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            content:"";
            z-index: 1;
        }
    }

    @media #{$xxl} {
        font-size: 100px;
        img {
            max-width: 300px;
        }
    }
    @media #{$xl} {
        font-size: 100px;
        img {
            max-width: 300px;
        }
    }
    @media #{$lg} {
        font-size: 74px;
        img {
            max-width: 280px;
        }
    }
    @media #{$md} {
        font-size: 72px;
        img {
            max-width: 200px;
        }
    }
    @media #{$sm} {
        font-size: 48px;
        img {
            width:200px;
        }
    }
    @media #{$xs} {
        font-size: 46px;
        img {
            display: none;
        }
    }
}
ul.achievement-equations {
    display: inline-flex;
    border: 1px solid #448C744D;
    border-radius: 50px;
    padding: 0 10px;
    margin-left: 100px;
    margin-top: 30px;
    li {
        display: flex;
        column-gap: 10px;
        align-items: center;
        border-right:1px solid #448C744D;
        padding: 15px 20px;
        &:last-child {
            border-right:0;
        }
        .achievement-count {
            font-size: 40px;
            font-weight: 700;
            color:#448C74;
        }
        .achievement-title {
            font-size: 14px;
            line-height: 1.3;
            text-transform: uppercase;
            text-transform: uppercase;
            span {
                font-size: 20px;
                -webkit-text-stroke: 1px #BBBBBB4D;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}
.about-text-block-btn {
    margin-top: 30px;
    margin-left: 110px;
    border-color: #448C7480;
}
@media #{$md, $sm, $xs} {
    .about-bottom-2 {
        padding-left: 0;
        padding-right: 0;

        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }
    ul.achievement-equations {
        margin-left: 0;
    }
    
}
@media #{$xs} {
    ul.achievement-equations {
        display: flex;
        border-radius: 0;
        flex-wrap: wrap;
    }
}
/**----------------------------------------
Home About 3 CSS
----------------------------------------*/
.about-area-3 {
    background: #171415;
}
.about-text-block-3 {
    padding-left: 110px;
    padding-right: 200px;
}
.about-title-3 {
    .section-heading {
        display: inline-block;
    }
    .section-title-text {
        padding-left: 0;
        p {
            padding-left: 0;
        }
    }
}
@media #{$xl} {
    .about-text-block-3 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .about-title-3 {
        .section-heading {
            font-size: 32px;
            padding-bottom: 20px;
        }
    }
}
@media #{$lg, $md, $sm, $xs} {
    .about-text-block-3 {
        padding-left: 0;
        padding-right: 0;
    }
}
@media #{$lg} {

}

/**----------------------------------------
Award Area CSS
----------------------------------------*/
.about-area.about-page {
    background-position: top center;
    background-color: #171415;
}
.award-area {
    margin-top: 100px;
    padding-bottom: 100px;
}
.single-award {
    .award-time {
        text-transform: uppercase;
        display: block;
        margin-bottom: 30px;
    }
    .award-heading {
        font-size: 28px;
        margin-bottom: 27px;
    }
}

.progress {
  background: #e4e3e3 none repeat scroll 0 0;
  border-radius: 0;
  box-shadow: none;
  height: 3px;
  overflow: visible;
}
.single-progress-bar {
  overflow: hidden;
}
.progress-bar {
	background:#cc3333;
	box-shadow:none;
	position:relative;
}
h3.progress-bar-title {
	font-size:16px;
	color:#666;
	line-height:27px;
	font-weight:bold;
	margin-bottom:13px;
}
h3.progress-bar-title span {
	font-family: 'Poppins', sans-serif;
	font-size:18px;
	color:#cc3333;
	font-weight:300;
}
.progress.style-1 span.sr-only {
	background: #cc3333 none repeat scroll 0 0;
	border: 4px solid #fff;
	clip: inherit;
	height: 20px;
	outline: 2px solid #e4e3e3;
	position: absolute;
	right: -23px;
	text-indent: -9999px;
	top: -8px;
	transform: rotate(45deg);
	width: 20px;
}
.progress-bar-area-2 {
	background: #f3f3f3 none repeat scroll 0 0;
	padding: 120px 0 190px;
}