@use "../utilities" as *;

/**----------------------------------------
Big Text CSS
----------------------------------------*/
.big-text-area {
    background-color: var(--vw-color-bg-1);
    padding-top:100px;
    padding-bottom: 155px;
    padding-left: 125px;
    @media #{$md, $sm, $xs} {
        padding-left: 0;
        padding-top:90px;
        padding-bottom:90px;
    }
}
.big-text {
    @media #{$md, $sm, $xs} {
        text-align: center;
    }
}
.big-text {
    overflow: hidden;
}
.big-text-title {
    font-size: 115px;
    font-weight: bold;
    text-transform: uppercase;
    animation: marquee 12s linear infinite;
    span {
        font-weight: 200;
    }
    @media #{$xxl} {
        font-size: 83px;
    }
    @media #{$xl} {
        font-size: 68px;
    }
    @media #{$lg} {
        font-size: 56px;
    }
    @media #{$md, $sm} {
        font-size: 48px;
    }
    @media #{$xs} {
        font-size: 36px;
    }
}
/* marquiee left */
.marquee-left {
    font-size: 115px;
    color: #fff;
    height: 115px;
    overflow: hidden;
    position: relative;
}
.marquee-left div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marqueeLeft 12s linear infinite;
}
.marquee-left {
    h2 {
        float: left;
        width: 50%;
    }
}
/* marquiee right */
.marquee-right {
    font-size: 60px;
    color: #fff;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.marquee-right div {
    display: block;
    width: 200%;
    position: absolute; 
    overflow: hidden;
    animation: marqueeRight 12s linear infinite;
}
.marquee-right {
    h3 {
        float: left;
        width: 50%;
    }
}
.big-text-subtitle {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: .71em;
    span {
        font-weight: 200;
    }
    @media #{$xxl} {
        letter-spacing: .51em;
        font-size: 52px;
    }
    @media #{$xl} {
        font-size: 50px;
        letter-spacing: .40em;
    }
    @media #{$lg} {
        font-size: 36px;
        letter-spacing: .50em;
    }
    @media #{$md, $sm} {
        font-size: 38px;
        letter-spacing: 0.31em;
    }
    @media #{$xs} {
        font-size: 30px;
        letter-spacing: .30em;
    }
}
.boder-between-heading {
    border-top:1px solid #FFFFFF26;
    margin-top: 45px;
    margin-bottom: 40px;
}
.big-text-area-2 {
    background-color: #000004;
}