@use "../utilities" as *;

/**----------------------------------------
Clients Section CSS
----------------------------------------*/
.clients-area {
    background-color: #1D1D1D;
    padding-top:100px;
    padding-bottom: 100px;
}
.client-area-2 {
    background-color: #070707;
}
.clients-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section-title-client {
    flex:0 0 40%;
    @media #{$md, $sm, $xs} {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }
}
.section-title-para {
    margin-top: 15px;
}
.section-title-btn {
    margin-top: 20px;
}
.clients-list {
    flex:0 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    &.style-2 {
        margin-top: 40px;
        .single-client {
            &:nth-child(2) {
                margin-top: 45px;
            }
            &:nth-child(4) {
                margin-top: -35px;
            }
        }
    }
    @media #{$md, $sm, $xs} {
        flex: 0 0 100%;
    }
    @media #{$md, $sm, $xs} {
        &.style-2 {
            .single-client {
                &:nth-child(2) {
                    margin-top: 0;
                }
                &:nth-child(4) {
                    margin-top: 0;
                }
            }
        }
    }
}
.single-client {
    background-color: #ddd;
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    -webkit-mask-image: url(../images/banner/polygon1.svg);
    mask-image: url(../images/banner/polygon1.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 226px;
    height: 226px;
    flex: 0 0 226px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        background-color: #171717;
        background-size: cover;
        background-position: bottom left;
        background-repeat: no-repeat;
        -webkit-mask-image: url(../images/banner/polygon1.svg);
        mask-image: url(../images/banner/polygon1.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        content:"";
    }
    span {
        background-color: #222222;
        width:42px;
        height:42px;
        border-radius: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#BBBBBB;
        font-size: 12px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .single-client-inner {
        position: relative;
        z-index: 2;
    }
    @media #{$xl} {
        width: 190px;
        height: 190px;
        flex: 0 0 190px;
    }
    @media #{$lg, $md, $sm, $xs} {
        width: 149px;
        height: 149px;
        flex: 0 0 150px;
        span {
            background-color: #222222;
            width:32px;
            height:32px;
        }
        img {
            width:70px;
        }
    }
}