@use "../utilities" as *;

/**----------------------------------------
Header 2 CSS
----------------------------------------*/
.header-area-2 {
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
    .menu-icon {
        .nav-menu-link {
            display: flex;
            align-items: center;
            i {
                margin-right: 15px;
                font-size: 36px;
                color:#ffffff;
            }
        }
    }
}

/**----------------------------------------
Header 3 CSS
----------------------------------------*/
.header-area-3 {
    background-color: #171415;
    border-bottom: 1px solid rgba(68, 140, 116, 0.2509803922);
    padding-top: 45px;
    padding-right: 0;
    padding-left: 0;
    .header-inner {
        justify-content: center;
    }
    .header-right {
        margin-left: 270px;
    }
}
.menu-icon {
    .menu-button {
        i {
            font-size: 36px;
            color:#ffffff;
            margin-left: 40px;
        }
    }
}