@use "../utilities" as *;

/**----------------------------------------
Hero Slider 2 CSS
----------------------------------------*/
.banner-area-2 {
    background-color: #000004;
    overflow: hidden;
    .container-fluid {
        padding:0;
    }
}
.hero-slider2 {
    width: 100%;
    height: 824px;
    position: relative;
    .swiper-slide {
        background: #131313;
        background-size: cover;
        background-position: bottom center;
        background-repeat: no-repeat;
        overflow: hidden;
        position: relative;
        height: 100%;
        font-size: 18px;
        display: flex;
        .slide-inner {
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 30px;
            z-index: 2;
        }
        &::before {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 113.35%);
            position: absolute;
            top:0;
            left: 0;
            width:100%;
            height:100%;
            content:"";
            z-index: 1;
        }
    }
    .swiper-pagination-bullet {
        background-color: #ffffff;
    }
    .slider-title {
        font-size: 96px;
        margin-bottom: 0;
        span {
            font-weight: 300;
        }
    }
    .swiper-pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: auto;
        position: absolute;
        z-index: 3;
        right: 15%;
        height: 312px;
        background-color:#FFFFFF40;
        overflow-y: auto;
        span {
            margin-bottom: 3em;
            font-family: "Montserrat", sans-serif;
            font-size: 0;
            letter-spacing: 0.07em;
            color: #ffffff;
            border-radius: 0;
            margin: 0 !important;
            width: 1px;

            &:focus {
                outline: none;
            }
        }
    }
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 60px));
        display: inline-block;
        border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
        background: var(--swiper-pagination-bullet-inactive-color, #fff);
        opacity: var(--swiper-pagination-bullet-inactive-opacity, 0);
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
    }
    @media #{$xl, $lg} {
        height: 600px;
        .swiper-slide {
            background-position: top center;
        }
        .slider-title {
            font-size: 70px;
        }
        .swiper-pagination {
            height:200px;
        }
    }
    @media #{$lg} {
        .slider-title {
            font-size: 56px;
        }
    }
    @media #{$md, $sm} {
        .slider-title {
            font-size: 48px;
        }
    }
    @media #{$xs} {
        height: 500px;
        .slider-title {
            font-size: 36px;
        }
    }
}

#content {
    text-align: center;
    color: white;
    padding: 200px 0;
    background: #002020;
}