@use "../utilities" as *;

/**----------------------------------------
Testimonial CSS
----------------------------------------*/
.testimonial-area {
    background-color: var(--vw-color-bg-1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &::before {
        background: #1D1D1D;
        position: absolute;
        top: 0;
        right: 0;
        width: 58%;
        height: 110%;
        content: "";
        bottom: 0;
        margin: auto;
        transform: scaleY(1.2);
    }
    .testimonial-left-section {
        padding-left: 200px;
        padding-right: 25px;
    }
    @media #{$lg} {
        &::before {
            width:50%;
            transform: none;
        }
    }
    @media #{$xl, $lg, $md, $sm, $xs} {
        .testimonial-left-section {
            padding-left: 0;
            padding-right: 0;
        }
    }
    @media #{$md, $sm, $xs} {
        &::before {
            display: none;
        }
    }
}
.milestone-section {
    .single-milestone {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #1F312B;
        padding: 25px 0;
        &:last-child {
            border-bottom: 0;
        }
        .single-milestone-counter {
            width:50%;
        }
        .milestone-counter-number {
            font-size: 75px;
            font-weight: 200;
            color:#ffffff;
        }
        .milestone-counter-symble {
            font-size: 55px;
            font-weight: 300;
            color:#ffffff;
        }
        .single-milestone-title {
            h4 {
                font-size: 28px;
                font-weight: 500;
                letter-spacing: .20em;
                text-transform: uppercase;
            }
        }
    }
    @media #{$xl, $lg} {
        .single-milestone {
            column-gap: 20px;
            .milestone-counter-number {
                font-size: 48px;
            }
            .milestone-counter-symble {
                font-size: 48px;
    
            }
            .single-milestone-title {
                h4 {
                    font-size: 24px;
                }
            }
        }
    }
    @media #{$md, $sm} {
        .single-milestone {
            column-gap: 20px;
            align-items: start;
            .single-milestone-counter {
                width: auto;
                flex: 0 0 20%;
            }
            .milestone-counter-number {
                font-size: 56px;
            }
        }
    }
    @media #{$sm, $xs} {
        .single-milestone {
            column-gap: 20px;
            align-items: start;
            .single-milestone-counter {
                width: auto;
                flex: 0 0 20%;
            }
            .milestone-counter-number {
                font-size: 36px;
            }
            .milestone-counter-symble {
                font-size: 36px;
            }
            .single-milestone-title {
                h4 {
                    font-size: 24px;
                }
            }
        }
    }
}

.testimonial-section {
    padding-left: 90px;
    position: relative;
    overflow: hidden;
    @media #{$xl} {
        padding-left: 50px;
    }
    @media #{$lg} {
        padding-left: 15px;
    }
    @media #{$md, $sm, $xs} {
        background-color: #1D1D1D;
        padding-left: 15px;
        padding-top: 95px;
        padding-bottom: 140px;
    }
}
.testimonial-right-title {
    @media #{$md, $sm, $xs} {
        padding-left: 0;
    }
}
.testimonial-list {
    display: flex;
    column-gap: 35px;
    margin-top: 45px;
    position: relative;
    ul.slider-nav {
        width:130px;
        flex: 0 0 130px;
        z-index: 2;
        .single-nav {
            width:56px !important;
            height:56px;
            img {
                border-radius: 100%;
            }
        }
        li {
            margin: 10px 0;
            &:last-child {
                .single-nav {
                    margin-left: 20px !important;
                }
                
            }
            .slick-slide {
                float: none;
            }
            &:nth-child(2) {
                transform: translateX(-20px);
            }
        }
    }
    .slider-for {
        width:80%;
        flex: 0 0 80%;
    }
    .slick-prev, .slick-next {
        background-color: #171717;
        border: 1px solid rgba(255, 255, 255, .10);
        border-radius: 5px;
        left: 0;
        top: unset;
        bottom: 0;
        width: 44px;
        height: 44px;
    }
    .slick-next {
        margin-left: 61px;
    }
    @media #{$lg, $md} {
        ul.slider-nav {
            display: none;
        }
        .slider-for {
            width:100%;
            flex: 0 0 100%;
        }
        .slick-prev, .slick-next {
            bottom: unset;
            top:0;
            right:30px;
            left:unset
        }
        .slick-prev {
            right:90px
        }
    }
    @media #{$md, $sm, $xs} {
        ul.slider-nav {
            display: none;
        }
        ul.slider-nav {
            width:100%;
            flex:0 0 100%;
            li {
                display: flex;
            }
        }
        .slider-for {
            width:100%;
            flex: 0 0 100%;
        }
        .slick-prev, .slick-next {
            bottom: -90px;
        }
    }
}
.testimonial-half-circle {
    border: 1px solid #2C2C2C;
    width: 370px;
    height: 370px;
    position: absolute;
    bottom: 0;
    left: -175px;
    border-radius: 100%;
    z-index: 1;
    @media #{$xl} {
        left: -215px;
    }
    @media #{$lg, $md, $sm, $xs} {
        display: none;
    }
}
.single-testimonial {
    padding: 0 0 50px 0;
    .testimonial-title {
        font-family: var(--vw-ff-body);
        font-weight: 400;
        font-size: 20px;
    }
    .testimonial-text {
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-top: 20px;
    }
    .testimonial-bio {
        margin-top: 20px;
        .testimonial-bio-title {
            font-family: var(--vw-ff-body);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 0;
        }
        .testimonial-bio-designation {
            font-size: 12px;
        }
    }
    @media #{$xl} {
        padding-right: 45px;
        .testimonial-text {
            font-size: 16px;
        }
    }
    @media #{$lg} {
        padding: 0;
        .testimonial-title, .testimonial-text {
            font-size: 16px;
        }
    }
    @media #{$md, $sm, $xs} {
        padding: 0;
        .testimonial-title, .testimonial-text {
            font-size: 16px;
        }
    }
}
.testi-quote-icon {
    position: absolute;
    right:60px;
    bottom: 0;
    @media #{$xl, $md, $lg, $md} {
        img {
            width:80px;
        }
    }
    @media #{$sm, $xs} {
        display: none;
    }
}

/**----------------------------------------
Testimonial Area 2 CSS
----------------------------------------*/
.testimonial-area-2 {
    background-color: #000004;
    &::before {
        display: none;
    }
}
.testimonial-carousel-2 {
    .slick-arrow {
        background-color: #171717;
        border: 1px solid rgba(255, 255, 255, .10);
        border-radius: 5px;
        left: 0;
        top: unset;
        bottom: 0;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
}
.single-testimonial.style-2 {
    display: flex;
    align-items: end;
    max-width: 810px;
    .single-testimonial-avatar {
        flex:0 0 135px;
        width:135px;
        margin-right: 50px;
        img {
            border-radius: 100%;
        }
    }
    .tetimonial-text-info {

    }
}
/**----------------------------------------
Testimonial Area 3 CSS
----------------------------------------*/
.testimonial-area-3 {
    background-color: #171415;
    padding: 140px 0;
}
.testimonial-single {
    text-align: center;
    .testimonial-thumb {
        img {
            width:134px;
            height:134px;
            border-radius: 100%;
        }
        margin-bottom: 20px;
    }
}