@use "../utilities" as *;

/**----------------------------------------
Video CSS
----------------------------------------*/
.video-area {
    position: relative;
}
.video-play-btn {
    background-color: #171717;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .video-play-icon {
        font-size: 20px;
        color:#448C74;
        display: inline-block;
        margin-right: 10px;
    }
    span {
        font-family: var(--vw-ff-heading);
        font-size: 24px;
        font-weight: var(--vw-fw-medium);
        text-transform: uppercase;
        letter-spacing: .20em;
    }
    @media #{$lg} {
        width: 150px;
        height: 150px;
        span {
            font-size: 18px;
        }
    }
    @media #{$sm, $xs} {
        width: 110px;
        height: 110px;
        span {
            font-size: 16px;
        }
    }
}

/**----------------------------------------
Video Area 2 CSS
----------------------------------------*/
.video-area.bg-2 {
    background-color: #000004;
    background-image: url(../images/video/video-bg2.jpg);
    min-height:770px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    &::before {
        background-color: #000000;
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height:100%;
        content:"";
        opacity: .35;
    }
    @media #{$sm, $xs} {
        min-height:500px;
    }
}
.video-heading {
    font-size: 180px;
    color:#ffffff;
    text-transform: uppercase;
}
.v-heading-top, .v-heading-bottom {
    position: absolute;
}
.v-heading-top {
    top:0;
    right:65px;
}
.v-heading-bottom {
    bottom:0;
    left:65px;
}
.video-play-btn.style-2 {
    background-color: rgba(255, 255, 255, .20);
    color: #ffffff;
    .video-play-icon {
        color: #ffffff;
    }
}
.transparent-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    margin-left: 0;
}
@media #{$sm, $xs} {
    .video-heading {
        font-size: 60px;
    }
}